.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
}

.cell {
    width: 25%;  /*4 boxes per row*/
    height: 25%; /*4 boxees per column*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #f9f9f9;
}